$myFont: Helvetica, sans-serif;
$primaryColor: #41729f;
$secondaryColor: #5885af;
$tertiaryColor: #274472;
$fourthColor: #c3e0e5;

.Advert {
  position: relative;
  background-color: $fourthColor;
  margin: 7vh;
  height: 25vh;
  width: 25vw;
}
